<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>metadata</key>
    <dict>
        <key>version</key>
		<string>2.0.0-B4</string>
        <key>format</key>
        <integer>3</integer>
        <key>size</key>
        <string>{503.0,769.0}</string>
        <key>name</key>
        <string>Untitled</string>
        <key>textureFileName</key>
        <string>Untitled.png</string>
    </dict>
    <key>frames</key>
    <dict>
        <key>cloud01.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{442.0,126.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{442.0,126.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{442.0,126.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,2.0},{442.0,126.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>cloud02.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{281.0,92.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{281.0,92.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{281.0,92.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,673.0},{281.0,92.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>cloud03.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{419.0,123.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{419.0,123.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{419.0,123.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,360.0},{419.0,123.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>cloud04.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{267.0,73.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{267.0,73.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{267.0,73.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{232.0,265.0},{267.0,73.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>cloud05.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{331.0,90.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{331.0,90.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{331.0,90.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,581.0},{331.0,90.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>cloud06.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{370.0,94.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{370.0,94.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{370.0,94.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,485.0},{370.0,94.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>made-with-zwoptex</key>
        <dict>
            <key>spriteSize</key>
            <string>{228.0,228.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{228.0,228.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{228.0,228.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,130.0},{228.0,228.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>planet.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{232.0,133.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{232.0,133.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{232.0,133.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{232.0,130.0},{232.0,133.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
    </dict>
</dict>
</plist>
